{% extends 'front/base.html' %}
{% load static %}

{% block main %}
  <div class="container">
    <h3 align="center">About Lagos State Cooperative College Library</h3>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus at doloremque iste illum neque commodi necessitatibus hic id odio optio. Aliquam quis pariatur iure modi non nobis recusandae fugit aliquid
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus at doloremque iste illum neque commodi necessitatibus hic id odio optio. Aliquam quis pariatur iure modi non nobis recusandae fugit aliquid.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus at doloremque iste illum neque commodi necessitatibus hic id odio optio. Aliquam quis pariatur iure modi non nobis recusandae fugit aliquid.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus at doloremque iste illum neque commodi necessitatibus hic id odio optio. Aliquam quis pariatur iure modi non nobis recusandae fugit aliquid.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus at doloremque iste illum neque commodi necessitatibus hic id odio optio. Aliquam quis pariatur iure modi non nobis recusandae fugit aliquid.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus at doloremque iste illum neque commodi necessitatibus hic id odio optio. Aliquam quis pariatur iure modi non nobis recusandae fugit aliquid.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus at doloremque iste illum neque commodi necessitatibus hic id odio optio. Aliquam quis pariatur iure modi non nobis recusandae fugit aliquid.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus at doloremque iste illum neque commodi necessitatibus hic id odio optio. Aliquam quis pariatur iure modi non nobis recusandae fugit aliquid.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus at doloremque iste illum neque commodi necessitatibus hic id odio optio. Aliquam quis pariatur iure modi non nobis recusandae fugit aliquid.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus at doloremque iste illum neque commodi necessitatibus hic id odio optio. Aliquam quis pariatur iure modi non nobis recusandae fugit aliquid.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus at doloremque iste illum neque commodi necessitatibus hic id odio optio. Aliquam quis pariatur iure modi non nobis recusandae fugit aliquid.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus at doloremque iste illum neque commodi necessitatibus hic id odio optio. Aliquam quis pariatur iure modi non nobis recusandae fugit aliquid.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus at doloremque iste illum neque commodi necessitatibus hic id odio optio. Aliquam quis pariatur iure modi non nobis recusandae fugit aliquid.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus at doloremque iste illum neque commodi necessitatibus hic id odio optio. Aliquam quis pariatur iure modi non nobis recusandae fugit aliquid.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus at doloremque iste illum neque commodi necessitatibus hic id odio optio. Aliquam quis pariatur iure modi non nobis recusandae fugit aliquid.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus at doloremque iste illum neque commodi necessitatibus hic id odio optio. Aliquam quis pariatur iure modi non nobis recusandae fugit aliquid.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus at doloremque iste illum neque commodi necessitatibus hic id odio optio. Aliquam quis pariatur iure modi non nobis recusandae fugit aliquid.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus at doloremque iste illum neque commodi necessitatibus hic id odio optio. Aliquam quis pariatur iure modi non nobis recusandae fugit aliquid.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus at doloremque iste illum neque commodi necessitatibus hic id odio optio. Aliquam quis pariatur iure modi non nobis recusandae fugit aliquid.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus at doloremque iste illum neque commodi necessitatibus hic id odio optio. Aliquam quis pariatur iure modi non nobis recusandae fugit aliquid.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus at doloremque iste illum neque commodi necessitatibus hic id odio optio. Aliquam quis pariatur iure modi non nobis recusandae fugit aliquid.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus at doloremque iste illum neque commodi necessitatibus hic id odio optio. Aliquam quis pariatur iure modi non nobis recusandae fugit aliquid.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus at doloremque iste illum neque commodi necessitatibus hic id odio optio. Aliquam quis pariatur iure modi non nobis recusandae fugit aliquid.

    </p>
  </div>
{% endblock main %}